
.title {
    font-size: 2rem;
    display: grid;
    padding : 10px;
}

@media screen and (max-width: 800px) {
    .container_dashboard {
     margin:5px;
     width: 98%;
    }
  }

  @media screen and (max-width: 500px) {
    .container_dashboard {
     margin:5px;
     width: 90%;
    }
  }