@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&display=swap");

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  padding:0 1rem;
  border-radius: 1rem;
}

.card-container4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding:0 1rem;
  border-radius: 1rem;
}

.card-dashboard {
  line-height: 1.2;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 2px 10px 5px rgba(128, 128, 128, 0.12);
}

.card-div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
.card-div4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.card-icon {
  font-size: 50px;
}


[class*="fa-"] {
  font-size: 2rem;
  filter: drop-shadow(0px 10px 15px rgba(55, 84, 170, 0.25));
}

.number {
  /* font-family: "Mitr", "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif; */
  font-size: 1.5rem;
}
  
  .fa-quora {
    color: #b92b27;
  }
  
  .fa-facebook {
    color: #3b5999;
  }
  
  .fa-code {
    color: #34465d;
  }
  
  .fa-check {
    color: #27ae60;
  }
  
  @media screen and (max-width: 800px) {
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr) ;
      grid-gap: 0.5rem;
      padding: 0.5rem;
      border-radius: 1rem;
    }
    .container2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
      padding:0 0.5rem;
      border-radius: 1rem;
    }
    
    .card-container4 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
      padding:0 0.5rem;
      border-radius: 1rem;
    }
    .card-div{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }
    .card-div4{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }
  }
  @media screen and (max-width: 500px) {
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr) ;
      grid-gap: 0.5rem;
      padding: 0.5rem;
      border-radius: 1rem;
    }
    .container2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
      padding:0 0.5rem;
      border-radius: 1rem;
    }
    
    .card-container4 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
      padding:0 0.5rem;
      border-radius: 1rem;
    }
    .card-div{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
    }
    .card-div4{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
    }
  }